/* .image1{
    background-image: url('../../../assets//unsplash_E8Ufcyxz514.png'),
    url('../../../assets//unsplash_pVoEPpLw818.png'),
     url('../../../assets/unsplash_tZCrFpSNiIQ.png') ;
    background-repeat: no-repeat, no-repeat, no-repeat;
    width: auto;
    padding: 500px;
    background-position:  top left, left center, left bottom;
} */